body {
  background-image: url("images/color-back.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}

h1 {
  text-align: center;
}

.static {
  position: static;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  border: 5px solid #f36988;
  font-size: 24px;
}

.relative {
  position: relative;
  top: 100px;
  left: 70%;
  width: 300px;
  padding: 10px;
  background-color: white;
  border: 5px solid #69eef3;
}

.absolute {
  position: absolute;
  width: 400px;
  top: 1900px;
  left: 50px;
  padding: 10px;
  background-color: white;
  border: 5px solid #69eef3;
}

.fixed {
  position: fixed;
  width: 200px;
  left: 10px;
  bottom: 10px;
  background-color: white;
  border: 5px solid #f36988;
  font-size: 14px;
  text-align: center;
}

.sticky {
  position: sticky;
  width: 400px;
  top: 0;
  left: 100%;
  background-color: white;
  border: 5px solid #69eef3;
}

