body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body.main {
  margin: 0;
  padding: 10px;
  background-image: url("images/paper-back.jpg");
  font-size: 26px;
}

body.block {
  background-image: url("images/wall-back.jpg");
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 1.4em;
}
body.display {
  background-image: url("images/news-back.jpg");
}
.section {
  width: 1400px;
  margin: 300px auto;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
