body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}

nav {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  padding-top: 30px;
  background-image: url("images/paper-back.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body.main {
  margin: 0;
  padding: 10px;
  font-size: 24px;
}

body.block::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("images/wall-back.jpg");
  z-index: -1;
  opacity: 0.5;
}
body.block {
  font-size: 1.4em;
}
body.display {
  background-image: url("images/news-back.jpg");
}

body.float-clear, body.over_flow {
  background-image: url("images/old-paper-back.jpg");
}


div>h2, h1 {
  text-align: center;
}
.section_news {
  width: 1400px;
  margin: 300px auto;
  box-sizing: border-box;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.blocks, .inline, .inline-block, .flex {
  border: black solid 2px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 5px 0;
}
.blck {
  display: block;
}

.inline {
  text-align: center;
}

.inl {
  display: inline;
  margin: 0 10px;
  border: 1px solid black;
}

.inline-block {
  text-align: center;
  padding-bottom: 5px;
}

.inlb {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  border: 1px solid #000000;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.flx {
  flex: 1;
  max-width: 30%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.article {
  width: 70%;
  margin: 0 auto;
}

.tesla {
  float: left;
}

[alt="Tesla"] {
  width: 300px;
}

.laboratory {
  float: right;
}

[alt="Laboratory"] {
  width: 600px;
}

.no_float {
  clear: both;
}

main.section_over {
  width: 60%;
  margin: 0 auto;
}

.articles {
  height: 200px;
  border: 1px solid black;
  margin: 20px 0;
  padding: 10px;
}

p.overflow {
  height: 120px;
  overflow: auto;
}